@font-face {
    font-family: 'Caslonia';
    src: url('fonts/Caslonia.otf') format('opentype');
}

body {
    background-color: #404234;
    color: #dbdbdb;
}

.text-sequence {
    font-family: 'Caslonia';
    font-size: 2.0rem;
    letter-spacing: 0.007rem;
    margin-top: 15%;
    justify-content: center;
    text-align: center;
}

.line {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1.5s ease forwards;
}

/* Stagger timing */
.line:nth-child(1) {
    animation-delay: 0.5s;
}

.line:nth-child(2) {
    animation-delay: 2s;
}

.line:nth-child(3) {
    animation-delay: 3.5s;
}

.line:nth-child(4) {
    animation-delay: 5s;
}

.final {
    font-weight: 500;
    letter-spacing: 0.08em;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}